{% extends "base.html" %}
{% from "_render_field.html" import render_field %}

{% block title %}Register{% endblock %}
{% block body %}
  {{ super() }}
<div class="container">
    <div class="simple-login">
        <div class="row">
            <div class="col-lg-6 col-md-12 offset-lg-3 ">
                {% if error %}
                    <p style="color: red;"><strong>Error:</strong> {{ error }}
                {% endif %}
                <div class="card">
                    <article class="card-body">
                        <a href="" class="float-right btn btn-outline-primary">Sign in</a>
                        <h4 class="card-title mb-4 mt-1">Sign Up</h4>
                        <form action="" method="post" novalidate>
                            {{ form.csrf_token }}
                            {{render_field(form.username, placeholder=form.username.label.text)}}
                            {{render_field(form.email, placeholder=form.email.label.text)}}
                            {{render_field(form.password, placeholder=form.password.label.text)}}

                            <div class="form-group">
                                {{form.submit(class="btn btn-primary btn-block")}}
                            </div> <!-- form-group// -->
                        </form>
                    </article>
                </div> <!-- card.// -->
            </div>
        </div>
    </div>
</div>
{% endblock %}